

footer{
    background-color:$primary-dark-color;
}
.contacto{
    display:flex;
    flex-direction:column;
    padding: 2rem;

}
.contacto p{
font-size:18px;

display: flex;
align-items: center;
}
.contacto a {
    padding: 5px;
    text-decoration: none;
    color:$light-font-color;
}  
.contacto img{
    width: 45px;
}
