

$primary-color:#24989E;
$primary-dark-color:#2C3B55;
$primary-light-color:#969296;

$secondary-color:#5A8EC0;
$secondary-dark-color:#1165A9;
$secondary-light-color:#CE5235;

$dark-font-color:#030302;
$light-font-color:#FBFCFD;